.logo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.blur-bg {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(255,255,255,0.92);
}